<form
        {{#if book}}
            action="/books/{{book._id}}"
        {{else}}
            action="/books/add"
        {{/if}}

        method="post">
    <label for="">Title:</label>
    <input type="text" name="title" value="{{book.title}}">

    <label for="">Author:</label>
    <select name="author" id="">
        {{#each authors}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="">Description:</label>
    <input type="text" name="description" value="{{book.description}}">

    <label for="">Rate:</label>
    <input type="number" name="rating" value="{{book.rating}}">

    <button type="submit">
        {{#if book}}
            Editar
        {{else}}
            Agregar
        {{/if}}
    </button>
</form>