<a href="/books">Regresar</a>

<h1>{{header}}</h1> - {{book.author.name}} {{book.author.lastname}}

<p>
    <strong>Rate: {{book.rating}}</strong>
</p>

<p>
    {{book.description}}
</p>

{{> bookForm }}